.App {
  display: flex;
  flex-flow: column;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.App-header {
  background-color: #03A9F4;
  padding: 10px;
  color: white;
}

.App-header-container {
  flex: 0 1 auto;
}

.App-title {
  font-size: 26px;
}

.App-intro {
  font-size: large;
}

.App-container {
  flex: 1 1 auto;
  flex-flow: column;
  display: flex;
}

.App-messages {
  display: flex;
  flex: 20 1 auto;
  flex-direction: column-reverse;
  background-color: #f5f0f6;
  overflow-y: scroll;
}

.App-moniker {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  flex: 1;
}

.message-form {
  flex-direction: row;
  display: flex;
  flex: 1;
  align-items: center;
}

.App-message-entry {
  flex: 1;
}

.App-message-entry input {
  border: 1px solid #ced4da;
  flex: 1 1 auto;
  border-radius: 8px;
  font-size: 20px;
}

.App-submit-button input {
  background-color: #007bff;
  border-color: #007bff;
  border: 1px solid transparent;
  border-radius: 8px;
  color: white;
}

.logo-text {
  color: #fe5f55;
}

.slogan-text {
  color: #2b4162;
}

.dot {
  background-color: #ef1062;
  height: 0.6em;
  width: 0.6em;
  border-radius: 1em;
  animation: light 0.5s infinite;
  animation-direction: alternate;
}

.green-dot {
  background-color: #3AB795;
}

.green-text {
  color: #3AB795;
}

.counter {
  display: flex;
  align-items: center;
}

@keyframes light {
  from {
    opacity:0
  }
  to {
    opacity:100
  }
}

.message-container {
  background-color: rgba(255,255,255,0.5);
  border: 1px solid rgba(0,0,0,0.2);

  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.form-container {
  flex: 0 1 auto;
}